/*setting up CSS Grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  padding: 5%;
}
.grid-monsoon{

}
.grid-beams {
  color: white;
  background-image: linear-gradient(to bottom, #282828, #808080, 	#D0D0D0);
}
.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*setting up responsiveness for the page*/
@media screen and (max-width: 992px) {

  .grid > div{
    padding: 5%;
  }
  .grid{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
    padding: 5%;
  }
}
/*custom css mobile/small screens*/
@media screen and (max-width: 600px) {
}
