
body {


}
.Beams {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-gap: 0.5em;
  grid-auto-rows: minmax(100px, auto);
  background-color: black;
  color: white;
}
.Beams > div {
  padding: 5%;
}
.Monsoon{
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-gap: 0.5em;
  grid-auto-rows: minmax(100px, auto);
  padding: 5%;
}
  /*just for testing the layout purposes*/
.Monsoon > div{
    /*background-color: #eee;*/
}

@media screen and (max-width: 992px) {
  body {

  }
  .Monsoon > div{
    /*background-color: red;*/
  }
  .Monsoon{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (max-width: 600px) {
  body {


  }
}
