.backgroundImage {
  opacity: 0.4;
  width: 100%;
  /*z-index: 100; */
  height: auto;
  /*position: block;*/
}

.absolute {
  z-index: 6;
  position: absolute;
}

.carouselImage {
  z-index: 6;
  top: 20px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.grid-carousel {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /*grid-template-columns: 100px, 300px, 100px;*/
}

.arrow {
  width:10%;
  height: auto;
  z-index: 2;
}
